/* #skills Section */
#skills {
    overflow: hidden;
    width: 100vw;
    height: 100;
    max-width: 65rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}
.skillsMain{
    font-size: 3rem;
    font-weight:600;
    padding-top:3rem;
    margin-bottom:1.5rem;
}

/* Skill Title */
.skillTitle {
    font-size: 3rem;
    font-weight: 600;
    padding-top: 3rem;
    margin-bottom: 1.5rem;
}

/* Skill Description */
.skillDesc {
    font-weight: 400;
    font-size: 0.9rem;
    max-width: 50rem;
    padding: 0 2rem;
}

/* Skills Bars Container */
.skillsBars {
    margin: 1.5rem;
    width: 100%;
    max-width: 90%;
    text-align: left;
}

/* Individual Skill Bar */
.skillBar {
    margin: 1rem;
    width: 95%;
    padding: 1.5rem 2rem;
    display: flex;
    border-radius: 0.5rem;
    background: rgb(50, 50, 50);
}

/* Skill Bar Image */
.skillBarImg {
    object-fit: cover;
    height: 3rem;
    width: 4rem;
    margin-right: 2rem;
}

/* Skill Bar Text */
.skillBarText > p {
    font-size: 0.9rem;
    font-weight: normal; /* Use 'normal' or numerical values like 400 for better compatibility */
}

@media only screen and (max-width:600px) {
    .skillsPara{
        max-width: 90%;
        margin-left: 5%;
    }
    .skillsBars{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #skills{
        height: 130vh;
    }
    
}
